html, body {
  margin: 20px;
  background: lavender;
  font-size: 14px;
  line-height: 1.428;
}
.bio-box {
  h3 {
    margin-top: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
.info-box {
  h3 {
    margin-top: 7px;
  }
  min-height: 300px;
}
.gravatar {
  margin-top: 12px;
  margin-left: 24px;
}
.icon {
  text-align: center;
  font-size: 3em;
}
.icons {
  p {
    margin-bottom: 0;
  }
}
.tech {
  padding: 0;
  margin: 0;
}