{{#info-box title="Academics" pathLeft="tldr" pathRight="work"}}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>Wesleyan University<span class="pull-right">(May 2014)</span></h5>
    <ul>
      <li>Bachelor of Arts in Computer Science</li>
      <li>Graduated with 3.5+ GPA</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>University of Manchester<span class="pull-right">(Spring 2013)</span></h5>
    <ul>
      <li>Completed 4 third year computer science courses</li>
      <ul>
        <li>Wrote a top paper in my information retrieval course</li>
      </ul>
      <li>Completed a course on
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>UIBE<span class="pull-right">(Fall 2013)</span></h5>
    <ul>
      <li>Studied second-year Mandarin</li>
      <li>Completed 3 courses on Chinese history and culture</li>
    </ul>
  </div>
</div>
{{/info-box}}