<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <img class="gravatar" src="http://www.gravatar.com/avatar/61f1460caefde0aba13550c6627c212c"></img>
            </div>
            <div class="bio-box col-xs-8">
              <h3 class="text-center">Arthur Burkart</h3>
              <div class="row">
                <p class="text-right col-xs-5 col-md-4">Place of Birth:</p><p class="text-center">Marshfield, WI</p>
                <p class="text-right col-xs-5 col-md-4">Education:</p><p class="text-center">Computer Science</p>
                <p class="text-right col-xs-5 col-md-4">Career Goal:</p><p class="text-center">Web Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="icons row">
            <p class="text-center col-xs-3"><a href="https://github.com/artburkart"><i class="icon fa fa-github"></i></a></p>
            <p class="text-center col-xs-3"><a href="https://twitter.com/artburkart"><i class="icon fa fa-twitter"></i></a></p>
            <p class="text-center col-xs-3"><a href="https://www.linkedin.com/pub/arthur-burkart/39/375/a20"><i class="icon fa fa-linkedin"></i></a></p>
            <p class="text-center col-xs-3"><a href="http://artvb.com/blog"><i class="icon fa fa-comments-o"></i></a></p>
          </div>
        </div>
      </div>
    </div>
    {{outlet}}
  </div>
</div>
<small><p class="text-center">This website made with EmberJS and tender-loving care by Art Burkart</p></small>
<p class="text-center"><i class="fa fa-heart"></i></p>
