{{#info-box title="About Me" pathLeft="projects" pathRight="tldr"}}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <p>Wisconsin-born, where the cows roam free, I grew up without a computer and without access to Internet. I've worked very hard to overcome this life obstacle and I think I'm ready to take on a junior developer position at a tech firm. Preferably, I'd get to work for a startup, but we'll have to see where this world takes me.</p>
    <p>I'm mobile friendly. Before 2010, I had only visited Minnesota, Illinois, Indiana, Kentucky, and New York. Since then, I've lived in China, the UK, Washington state, Connecticut, Illinois, and Arizona. I have also visited 31 of the US states as well as five different countries.</p>
    <p>I studied in Beijing and Manchester for 中文 and cs during my third year of uni</p>
    <p>I crave a good challenge. What better way to learn than by challenging yourself??</p>
    <p>Rowing used to be a thing I did. I'd like to pick it up again. My first 2K ever was a 6:12.</p>
    <p>Bicycling is also a thing I enjoy. I once took a road bike I found in a dumpster and crossed the southern half of the United States from New Haven, CT to Fort Worth, TX over a 21 day period in the middle of December.</p>
    <p>I tried my hand at entrepreneurship this year with Whodapet, and I'd like to try it again some day.</p>
  </div>
</div>
{{/info-box}}