{{#info-box title="Projects" pathLeft="work" pathRight="me"}}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5><a href="https://github.com/wesleyan/pulleffect">PullEffect</a><span class="pull-right">(Sep 2011 - May 2014)</span></h5>
    <ul>
      <li>Dashboard with ServiceNow, GCal, Oracle, MySQL, and MongoDB integration widgets</li>
      <li>Information is contained in widgets on screen that are size-adjustable and can be moved anywhere on the screen</li>
    </ul>
    <p class="tech"><b>Technologies:</b></p>
    <p class="tech">Flask, MongoDB, UnderscoreJS, BackboneJS</p>
    <p class="tech">(orginally had NodeJS backend)</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5><a href="http://simplestever.com">SimplestEver</a><span class="pull-right">(YHack 2014 - Present)</span></h5>
    <ul>
      <li>Really cool publishing platform where users save word documents into their DropBox and they automatically get uploaded into a web-friendly format online</li>
    </ul>
    <p class="tech"><b>Technologies:</b></p>
    <p class="tech">NodeJS, MongoDB, UnderscoreJS</p>
    <p class="tech">(Currently teaching myself Scala so I can migrate it to a more word document-friendly platform)</p>
  </div>
</div>
{{/info-box}}