{{#info-box title="TLDR;" pathLeft="me" pathRight="academics"}}
<p>I want to dive head-first into big software projects and contribute to ideas that shake the Earth.</p>
<p>NodeJs, EmberJS, C#, Python, Erlang, R, SML/NJ, MySQL, SQLite, CouchDB, Mongo, JDOC, XML, XPath, OWL, CSS, websites, mobile apps, research tools, you name it; I want in.</p>
<p>Need me to move? Just say the word.</p>
{{/info-box}}