{{#info-box title="Work Experience" pathLeft="academics" pathRight="projects"}}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>Whodapet<span class="pull-right">(June 2014 - Nov 2014)</span></h5>
    <p>Co-founder and only Software Engineer</p>
    <ul>
      <li>Designed and built website from the ground up</li>
      <li>Used by numerous counties in northwestern Illinois to track animal registrations and vaccinations and allow for the expedient return of stray dogs to their owners</li>
      <li>Generated revenue with no investment</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>BitTitan<span class="pull-right">(June 2013 - May 2014)</span></h5>
    <p>Software Design Engineer</p>
    <ul>
      <li>Designed and implemented the UI, REST API, and DB schema for a complex MVP</li>
      <li>Built a distributed system for augmenting massive amounts of data used to generate leads in sales campaigns</li>
      <li>Wrote over 10,000 lines of C# and JavaScript</li>
      <li>Evaluated and deployed BI solutions like QlikView and Tableau</li>
      <li>Worked remotely for half the internship</li>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>Wesleyan Instructional Media Services<span class="pull-right">(Sep 2011 - May 2014)</span></h5>
    <p>Student Manager, Program Manager, Web Dev</p>
    <ul>
      <li>Acted as lead developer and product manager for a data consolidation website used to more effectively deploy student workers to repair tech on campus</li>
      <li>Implemented a plugin that emitted notifications whenever printers jammed or ran out of paper so they could be fixed more quickly</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h5>Marshfield Clinic (BIRC)<span class="pull-right">(June 2011 - Aug 2011)</span></h5>
    <p>Bioinformatics Research Intern</p>
    <ul>
      <li>Taught myself R, statistical programming language, to generate heatmaps from complex genetic data sets in two weeks</li>
      <li>Tested my lead researcher and mentor's hypotheses regarding asthma in an NIH-funded project</li>
      <li>Co-authored a research paper on asthma and asthma-related diseases that was later published in the American Journal of Respiratory Cell and Molecular Biology</li>
    </ul>
  </div>
</div>
{{/info-box}}